/* Custom Theme "Meteor" By ğ˜›ğ˜©ğ˜¦ğ˜”ğ˜¢ğ˜³ğ˜¥ğ˜°ğ˜¯#7986 */

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    /* Boxes & Hover's*/
}

.card {
    background: rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1.5px solid rgba(0, 0, 0, 1);
}

#systemReportCard:hover, #systemReportCard.bg-dark:hover {
    border: 1.5px solid #9e9e9e;
}

#systemsList div.system-card:hover, #systemsList div.bg-dark.system-card:hover {
    border: 1.5px solid #9e9e9e;
}

.btn-outline-danger {
    color: black;
    border-color: black;
}

.btn-outline-danger:hover {
    background-color: rgba(0, 0, 0, 0.01);
    border-color: black;
}

.btn-outline-danger {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn-outline-danger:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #212529bf;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    color: white;
}

.btn-outline-danger:hover:before, .btn-outline-danger:focus:before, .btn-outline-danger:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

#systemCopyLink:focus {
    box-shadow: 0 0 0 0.25rem rgb(36 31 32 / 50%);
}

#systemViewInfo:focus {
    box-shadow: 0 0 0 0.25rem rgb(36 31 32 / 50%);
}

#customGameShareButton:focus {
    box-shadow: 0 0 0 0.25rem rgb(36 31 32 / 50%);
}

#systemReportLink:focus {
    box-shadow: 0 0 0 0.25rem rgb(36 31 32 / 50%);
}

.modal-content {
    color: white;
    background-color: #212529;
    border: 2px solid rgb(255 255 255 / 20%);
}

.form-check-input:checked {
    background-color: #212529;
    border-color: white;
}

.btn-danger {
    background-color: #212529;
    border-color: white;
}