/*
ServerList+ Neon Theme
Created by Pix#7008 on Discord
*/
@import url('https://pixelmelt.github.io/starblast/src/danktheme.css');
/*
You can change the colors by
editing the color hex values below
*/
:root{
    --BG-gradiant-color1: #F5246E;
    --BG-gradiant-color2: #000;
    --BG-gradiant-color3: #F5246E;
    --BG-gradiant-color4: #000;

    --text-color: #F5246E;
    --background-color: #000;
    --tint-color:var(--text-color);
}


/* May 4, 2022 update compatibility fix added by DankDmitron */
body {
  overflow: hidden;
}

#systemsList {
  overflow: scroll;
  max-height: 90vh !important;
}

#systemsList::-webkit-scrollbar {
    width: 0.25vw;
}

#systemsList::-webkit-scrollbar-track {
    background: black;
}

#systemsList::-webkit-scrollbar-thumb {
    background-color: #F5246E;
    border-radius: 20px;
    border: 3px solid #F5246E;
}
